#abilities-container {
    background-color: #e4e4e4;
    width: 35px;
    height: 500px;
    display: inline-block;
}

#q, #w, #e {
    background-color: #afec26;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    width: 30px;
    height: 30px;
}

#q p, #w p, #e p {
    position: relative;
    top: 7px;
}