html, body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    font-family: monospace;
    font-weight: bold;
}

header {
    padding: 10px;
    background-color: dimgray;
    height: 100px;
    font-size: 60px;
    color: darkgrey;
    letter-spacing: 35px;
    text-align: center;
    line-height: 100px;
}

.game-module {
    padding: 10px;
    background-color: #e4e4e4;
    min-height: 500px;
    vertical-align: top;
    display: inline-block;
}

#game-container {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#game {
    background-color: aliceblue;
}

#play {
    cursor: pointer;
    background-color: #489ad0;
    color: #ffffff;
    width: 57px;
    height: 30px;
    padding: 10px;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.header-label, #timer, #level {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color: #fff;
    display: inline-block;
}

#header div {
    display: inline-block;
}

#header {
    padding: 0px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: dimgray;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: darkgrey;
    margin-top: 40px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#catch {
    background-color: #3a5b00;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    width: 30px;
    height: 30px;
}

#catch p {
    position: relative;
    top: 7px;
}