html, body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    font-family: monospace;
    font-weight: bold;
}

header {
    padding: 10px;
    background-color: dimgray;
    height: 100px;
    font-size: 60px;
    color: darkgrey;
    letter-spacing: 35px;
    text-align: center;
    line-height: 100px;
}

#game {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    height: 500px;
    background-color: aliceblue;

}


footer {
    background-color: dimgray;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: darkgrey;
    margin-top: 40px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}