html, body{
    margin: 0;
    padding: 0px;
    background-color: darkgrey;
    font-family: monospace;
    font-weight: bold;
    overflow:hidden;
}

#game {
    background-color: aliceblue;
}

#catch {
    background-color: #3a5b00;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    width: 30px;
    height: 30px;
}

#catch p {
    position: relative;
    top: 7px;
}